@mixin font-faces {
  // Milliard WOFF
  @font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard/woff/MilliardRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard/woff/MilliardMedium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard/woff/MilliardBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  // Milliard WOFF2
  @font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard/woff2/MilliardRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard/woff2/MilliardMedium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard/woff2/MilliardBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  // Lora WOFF
  @font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/woff/LoraRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/woff/LoraSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/woff/LoraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  // Lora WOFF2
  @font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/woff2/LoraRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/woff2/LoraSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/woff2/LoraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
}
