---
import Logo from "@/assets/logo.svg";
---

<footer class="w-full pt-20">
  <div class="flex items-center justify-center">
    <div
      class="flex w-full max-w-5xl justify-between border-t border-dark-gunmetal py-20 px-8"
    >
      <div>
        <p class="font-semibold">Ernesto Resende</p>
        <p class="pb-8 text-sm text-slate-400">2023. All rights reserved</p>
        <a aria-label="Return to main page" href="/">
          <img class="h-8" src={Logo} alt="Return to main page" />
        </a>
      </div>
      <div class="flex gap-20">
        <div>
          <p class="block pb-3 font-semibold">In this space</p>
          <a
            href="#work"
            class="block pb-2 text-sm text-slate-300 transition duration-200 hover:text-slate-50"
            >My work</a
          >
          <a
            href="#about"
            class="block pb-2 text-sm text-slate-300 transition duration-200 hover:text-slate-50"
            >More about me</a
          >
        </div>
        <div>
          <p class="pb-3 font-semibold">Follow me here</p>
          <a
            href="https://github.com/ernestoresende"
            target="_blank"
            rel="noopener noreferrer"
            class="block pb-2 text-sm text-slate-300 transition duration-200 hover:text-slate-50"
            >GitHub</a
          >
          <a
            href="https://linkedin.com/in/ernesto-resende/"
            target="_blank"
            rel="noopener noreferrer"
            class="block pb-2 text-sm text-slate-300 transition duration-200 hover:text-slate-50"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
