---
import ProjectCard from "@/components/ProjectCard.astro";
import PostCard from "@/components/PostCard.astro";
import DetailCard from "@/components/DetailCard.astro";

import GoogleCloudFunctions from "@/assets/icons/Google_Cloud_Functions.svg";
import CardinalLogo from "@/assets/icons/Cardinal_Logo.svg";
import GetInTouchIcon from "@/assets/icons/Get_In_Touch.svg";
---

<section id="work" class="items flex justify-center pb-28 pt-10">
  <div class="showcase-grid w-full max-w-5xl px-8">
    <div class="showcase-subgrid relative">
      <ProjectCard
        title="Apollo Server on Google Cloud Functions"
        description="An integration to use Google Cloud Functions as a hosting service with Apollo Server"
        href="https://github.com/apollo-server-integrations/apollo-server-integration-google-cloud-functions"
        projectIcon={GoogleCloudFunctions}
        projectType="open-source"
        className="showcase-grid__left-item"
      />
    </div>
    <div class="showcase-subgrid relative bottom-0 sm:bottom-10">
      <PostCard
        title="Coming soon"
        description="???"
        publishedAt="Nov, 2022"
        href="/"
        className="showcase-grid__middle-top-item"
      />
      <DetailCard
        className="showcase-grid__middle-bottom-item"
        title="Get in Touch"
        description="Say Hello"
        detailIcon={GetInTouchIcon}
        href="/"
      />
    </div>
    <div class="showcase-subgrid relative bottom-0 sm:bottom-16">
      <ProjectCard
        title="Cardinal"
        description="A CLI tool that helps you quickstart a full-stack monorepo project with optional, pre-configured modules for a serverless backend service, authentication, database and deployment"
        href="https://cardinal.ernestoresende.com"
        projectIcon={CardinalLogo}
        projectType="open-source"
        className="showcase-grid__right-item"
      />
    </div>
  </div>
</section>
<style>
  .showcase-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: fit-content;
    gap: 22px;
  }

  @media (max-width: 768px) {
    .showcase-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .showcase-subgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    height: fit-content;
    gap: 22px;
  }
</style>
