---
import { t, Translation } from '../i18n'
import i18next from 'i18next'
import { NavHeader } from '../components/NavHeader'
import BackgroundGradient from '../assets/BackgroundGradient.svg'

const language = i18next.language
const translation: Translation = t[language]
---

<body class="bg-chinese-black text-flash-white font-body antialiased">
  <NavHeader translation={translation} client:load />
  <img
    class="background-gradient z-background absolute top-0"
    src={BackgroundGradient}
    alt=""
  />
  <div class="pt-14">
    <slot />
  </div>
  <!-- Scrollbar definitions for the Home layout -->
  <style>
    body::-webkit-scrollbar {
      width: 8px;
    }

    body::-webkit-scrollbar-track {
      background-color: #13111c;
    }

    body::-webkit-scrollbar-thumb {
      background-color: #5f5c6d;
      border-radius: 10px;
    }
  </style>
</body>
